<nav style="background-color:red;" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div  class="navbar-header">
            <a class="navbar-brand" href="#">
                <span style ="color:white;" class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                <span style ="color:white;">Marvis Corporation</span>
            </a>
        </div>

        <ul  class="nav navbar-nav" >
            <li ><a style ="color:white;" href="/home">Home</a></li>
            <li><a style ="color:white;" href="/greeting">About</a></li>
        </ul>
      
    </div>
</nav>