<html lang="en">
	<head>
		<% include ./partials/head %>
		
	</head>

	<body class ="container">
		<header>
			<% include ./partials/header %>
		</header>

		<main>
			<div class="jumbotron" >
			</div>


			<div class="row">
				<div class="col-md-4">
					
				</div>
				<div class="col-md-8">
					<img src="insurance.jpg">
					<h1> Detail of your vehicle health diagnostic </h1>
					<br>
					<br>
					
						<p>
						Name:  "mycar"<br>
						DetectedVIN:  "999251940523816"<br>
						VIN:  "999251940523816"<br>
						MojioId: "7aed4f7b-c11d-4b8c-8edc-4b00baebf7ba"<br>
						 
						LastContactTime:  "2016-11-10T08:35:49.573Z"<br>
						 Speed: 0km/h<br>
						 Odometer: 10123<br>
						 <b style="color:red;">Battery Risk: High<br> 

					<br>
					<br>
					<h2> Check your battery now </h2>
					<button type="button" class="btn btn-danger">Find Mechanics</button>

				</div>
			</div>
		</main>
		

		<footer>
			<% include ./partials/footer %>
		</footer>
		
	</body>	


</html>