<html lang="en">
	<head>
		<% include ./partials/head %>
		
	</head>

	<body class ="container">
		<header>
			<% include ./partials/header %>
		</header>

		<main>


			<div class="row">
				<div class="col-md-4">
					<h2> Sorted by cheapest price </h2>
					<h3> LISTS OF MATCHED REPAIR SHOPS </h3>
					<ul>
						<a><li> 76 (0.76 miles) $3.10</li></a>

						<a><li> Chevron (4 miles) $3.10</li></a>
						<a><li> Shell (3 miles)$3.08</li></a>
						<a><li> Petrol (1 mile)$3.02</li></a>
						<a><li> Chevron (0.5 miles)$2.89 </li></a>
					</ul>
				</div>
				<div class="col-md-8">
					
					<h2> I have collected your vehicle health status</h2>
					<h3> Based on your gas status, I match you with few gas stations stop</h3>
					<h3> While your trip need at least 60% of the gas, I do recommend you to fill up the gas on the way of the trip </h3>
					<br>
					<br>
					<h3> Detail : </h3>
					<h4> Trip remaining: 50km </h4>
					<h4> gas status is : 20% </h4>
				</div>
			</div>


				<img src="rs.png">
		</main>
		

		<footer>
			<% include ./partials/footer %>
		</footer>
		
	</body>	


</html>