<html lang="en">
	<head>
		<% include ./partials/head %>
		<title><%= title %></title>
	</head>

	<body class ="container" style="background-image: url(check.jpeg);">
		<header>
			<% include ./partials/header %>
		</header>

		<main>
			<div style="background-image: url(check.jpeg);" class="jumbotron">
				<h1 style="color:white;"> WELCOME BACK <%= user%>; </h1>
				<br>

				<h2 style="color:white;"> Sunday, November 13 </h2>

				<h4 style="color:white;"> current location: LACC </h4>
				<h4 style="color:white;"><i> Quote: What does not kill you makes you stronger </h4>
			</div>


			<div class="row">
				<div class="col-md-3" style="color:white;">
					<p>Suggestions</p>
					<ul> 
					<li> check schedule </li>
					<li> run car diagnostic </li>
					<li> find mechanics </li>
					<li> find ride sharing </li>

					</ul>

					<br>
					<br>

				</div>

				<div class="col-md-9">
					<div class="row">
						<div style="text-align:center;" class="col-md-3">
							
								<div class="caption">
									 <img src="insurance.jpg" class="img-thumbnail">
									<h3> <a href="/insurance/df29c323-ae8e-4f9a-a86a-3e23e7ebdf38" class="btn btn-danger" role="button"> Find Insurance </a> </h3>
								</div>
						
						</div>
						<div style="text-align:center;" class="col-md-3">
							<div class="caption">
								
								<img src="check.jpeg" class="img-thumbnail">
								<h3> <a href="/health/df29c323-ae8e-4f9a-a86a-3e23e7ebdf38" class="btn btn-danger" role="button"> Health Diagnostic </a></h3>

							</div>
						</div>

						<div class="row">
						<div style="text-align:center;" class="col-md-3">
							
								<div class="caption">
									 <img src="track.jpeg" class="img-thumbnail">
									<h3> <a href="/vehicles" class="btn btn-danger" role="button"> Track all cars </a> </h3>
								</div>
						
						</div>
						

											</div>

				</div>



			</div>


				<br>
				<br>
				<br>



				<div class="row">
				<div class="col-md-3" style="color:white;">
					

					<p>Things to do</p>
					<ul> 
					<li> run gas diagostic </li>
					<li> start home automation </li>
					<li> call friends </li>
					<li> hold meeting </li>

					</ul>
				</div>

				<div class="col-md-9">
					<div class="row">
						<div style="text-align:center;" class="col-md-3">
							
								<div class="caption">
									 <img src="mechanics.jpg" class="img-thumbnail">
									<h3> <a href="/mechanics/df29c323-ae8e-4f9a-a86a-3e23e7ebdf38" class="btn btn-danger" role="button"> Find Mechanics </a> </h3>
								</div>
						
						</div>
						<div style="text-align:center;" class="col-md-3">
							<div class="caption">
								
								<img src="gas.jpg" class="img-thumbnail">
								<h3> <a href="/gas/df29c323-ae8e-4f9a-a86a-3e23e7ebdf38" class="btn btn-danger" role="button"> Gas Diagostic </a> </h3>

							</div>
						</div>
						<div style="text-align:center;" class="col-md-3">
							<div class="caption">
								
								<img src="ha.jpg" class="img-thumbnail">
								<h3> <a href="" class="btn btn-danger" role="button"> Home Automation </a></h3>

							</div>
						</div>

					
					</div>

				</div>


				
			</div>



				<br>
				<br>
				<br>
				


						<div class="row">
				<div class="col-md-3" style="color:white;">
					

					<p>Checking</p>
					<ul> 
					<li> run gas diagostic </li>
					<li> start home automation </li>
					<li> call friends </li>
					<li> hold meeting </li>

					</ul>
				</div>

				<div class="col-md-9">

							<div style="text-align:center;" class="col-md-3">
							<div class="caption">
								
								<img src="rs.png" class="img-thumbnail">
								<h3> <a href="" class="btn btn-danger" role="button"> Find Ride Sharing </a></h3>

							</div>
						</div>
					
						<div style="text-align:center;" class="col-md-3">
							<div class="caption">
								
								<img src="emergency.jpeg" class="img-thumbnail">
								<h3> <a href="/emergency/df29c323-ae8e-4f9a-a86a-3e23e7ebdf38" class="btn btn-danger" role="button"> Emergency Button </a></h3>

							</div>
						</div>
						<div style="text-align:center;" class="col-md-3">
							<div class="caption">
								
								<img src="reserve.jpeg" class="img-thumbnail">
								<h3> <a href="" class="btn btn-danger" role="button"> Reserve </a></h3>

							</div>
						</div>
					</div>

				</div>


			</div>


		</main>
		

		<footer>
			<% include ./partials/footer %>
		</footer>

	</body>	


</html>