<html lang="en">
	<head>
		<% include ./partials/head %>
		
	</head>

	<body class ="container" style="background-image: url(check.jpeg);">
		<header>
			<% include ./partials/header %>
		</header>

		<main>

			<div class="row">
				<div class="col-md-4">
					<h3> LIST OF QUALIFIED INSURANCE COMPANY </h3>
					<ul>
						<a><li> METROMILE</li></a>

						<a><li> Geico </li></a>
						<a><li> AAA</li></a>
						<a><li> State farm</li></a>
						<a><li> Farmers</li></a>
					</ul>
				</div>
				<div class="col-md-8">
					<img src="insurance.jpg">
					<h2> You are qualified for the pay per usage insurance </h2>
					<h2> Here is the document that you need </h2>
					<br>
					<br>
					<ul>
						<li> <h3> odomoter: 10328meters </h3>
						<li> <h3></h3>> No Disturbance State </h3> </li>
						<li> <h3> Speeding : 3 times <h3> </li>
						<li> <h3> Battery: Good </h3> </li>

					<ul>
				</div>
			</div>
		</main>
		

		<footer>
			<% include ./partials/footer %>
		</footer>
		
	</body>	


</html>