<html lang="en">
	<head>
		<% include ./partials/head %>
		
	</head>

	<body class ="container">
		<header>
			<% include ./partials/header %>
		</header>

		<main>


			<div class="row">
				<div class="col-md-4">
					<h3> LISTS OF MATCHED REPAIR SHOPS </h3>
					<ul>
						<a><li> Joe's mechanic </li></a>

						<a><li> Bob repairshop</li></a>
						<a><li> Waalaba</li></a>
						<a><li> Anon repairs</li></a>
						<a><li> Expert Mechanic </li></a>
					</ul>
				</div>
				<div class="col-md-8">
					<img src="insurance.jpg">
					<h2> I have collected your vehicle health status</h2>
					<h3> Based on your health status, we match you with few repair shops</h3>
					<ul>

						<li> <h3> odomoter: 10328meters </h3>
						<li> <h3> No Disturbance State </h3> </li>
					
						<li> <h3> Battery Risk: High </h3> </li>

					<ul>
				</div>
			</div>
		</main>
		

		<footer>
			<% include ./partials/footer %>
		</footer>
		
	</body>	


</html>